.header {
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
}

.button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;
  padding: 2px 6px 4px 6px;
  margin: 6px;
  background-color: var(--dark);
  border: solid 2px var(--dark);
  border-radius: 4px;
  color: var(--bg-color);
}
