@import '/src/theme.module.css';

.inputButton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;

  padding: 8px 10px 10px 10px;
  margin: 6px 6px 6px 0px;
  background-color: var(--dark);
  border: solid 2px var(--dark);

  border-radius: 0px 6px 6px 0px;
  color: var(--bg-color);
}

.inputButton:hover {
  cursor: pointer;
  background-color: var(--dark-hover);
  border-color: var(--dark-hover);
}
.searchbar:focus-visible {
  outline: none;
}
.searchbar {
  margin: 6px 0px 6px 6px;
  padding: 10px;
  background-color: var(--light);
  border: solid 2px var(--dark);
  border-right: none;
  border-radius: 6px 0px 0px 6px;
  color: var(--text);
  font-weight: bold;
}
.title {
  margin: 21px;
}
