.wrapper {
  margin: 20px 25px 20px 250px;
  width: 25%;
}
.userCardUpperSection {
  background-color: #856c59;
  padding: 0px 15px 15px 15px;
  color: #1c1c1c;
  overflow: hidden;
  border-radius: 4px 4px 0px 0px;
}
.userCardBottomSection {
  background-color: #856c59;
  padding: 0px 15px 10px 15px;
  overflow: hidden;
  color: #1c1c1c;
  border-radius: 0px 0px 4px 4px;
}

.text {
  font-weight: bold;
}
