.wrapper {
  background-color: var(--light);
  margin: 10px 0px;
  padding: 2px 10px;
}
.flexWrapper {
  display: flex;
  align-items: center;
}
.languageColor {
  width: 12px;
  height: 12px;
  border-radius: 2px;
}
.bottomSection {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
}
.wrapper p {
  margin: 10px 8px;
}
.repoName {
  font-size: x-large;
  text-decoration: none;
  font-weight: 600;
  color: var(--pink);
}
.topic {
  background-color: var(--dark);
  color: var(--pink);
  font-weight: bold;
  text-decoration: none;
  margin: 10px 10px;
  padding: 2px 6px 4px 6px;
  border-radius: 10px;
}
.bottomSectionFirst {
  justify-self: start;
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.date {
  margin: 2px;
}
